@model Phone
@{
    ViewData["Title"] = "DeleteRow";
    Layout = null;
}
<link rel="stylesheet" type="text/css" href="~/css/mySite.css" />
<form action="/home/deleterow" method="post">
    <div class="form-group">
        <label>Id</label>
        @Html.TextBoxFor(m => m.Id, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn-link">Удалить</button>
</form>
